.abolLogo {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 15%;
    top: 100%;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    background-color: brown;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 12%;
    border-bottom: 2px solid black;
    box-shadow: 0px 4px 8px 0px black, 0px 6px 20px 0px rgb(73, 73, 73);
}

#side-toggle {
    text-align: center;
    margin-left: 48%;
}

.intro {
    text-align: center;
}

.section {
    margin-left: 25%;
    margin-right: 15%;
    margin-top: 15%;
    margin-bottom: 20%;
    padding-bottom: 50%;
    background-color: lightgrey;
    box-shadow: 0px 4px 8px 0px black, 0px 6px 20px 0px rgb(73, 73, 73);
}

.sec_text {
    margin-top: 0%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
}

#storeItem1 {
    width: 250px;
    height: 250px;
}

#storeItem2 {
    width: 250px;
    height: 250px;
}

#storeItem3 {
    width: 250px;
    height: 250px;
}

.storeTable {
   text-align: center;
   padding-left: 5%;
   padding-right: 5%;
   /* margin-left: 10%; */
}

.itemTable {
    border: 2px solid black;
}

.desc {
    border: 2px solid black;
    padding: 0 150px 0 150px;
}

.price {
    border: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
}

.unlist {
    margin-left: -115%;
    margin-top: 0%;
}

.listProp {
    background-color: darkred;
    text-align: center;
    padding-bottom: 28%;
    padding-top: 28%;
    list-style-type: none;
    border: 1.5px solid black;
    border-bottom: .75px;
    cursor: pointer;
    font-family: "Roboto slab", sans-serif;
    box-shadow: 0px 4px 8px 0px black, 0px 6px 20px 0px rgb(73, 73, 73);
}

.unlist:last-child {
    background-color: darkred;
    text-align: center;
    padding-bottom: 28%;
    padding-top: 28%;
    list-style-type: none;
    border: 1.5px solid black;
    border-bottom: 1.5px;
    cursor: pointer;
    font-family: "Roboto slab", sans-serif;
}

.listProp:hover{
    background-color: rgb(108, 0, 0);
    transition: all 0.3s ease;
}

.joemumah{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

aside {
    position: fixed;
    float: left;
    top: 0%;
    left: 5%;
}

.aside {
    display: none;
}

.aside.collapsed{
    display: block;
}

.bodyClass {
    background-color: gray;
}

.footer {
    bottom: 0%;
    text-align: center;
    padding: 5%;
    background-color: darkred;
    box-shadow: inset 0px 0px 12px 4px rgb(27, 0, 0);
    margin-bottom: auto 0%;
}

/* Media: medium screen */
@media screen and (min-width: 630px) and (max-width: 2000px) {
    .aside{
        display: block;
    }

    #side-toggle {
        display: none;
    }  

    #secItem1.choose {
        background-color: rgba(147, 147, 147, 0.623);
        transition: all 1.0s ease-out;
        
    }

    #secItem2.choose {
        background-color: rgba(147, 147, 147, 0.623);
        transition: all 0.4s ease-out;
    }

    #secItem3.choose {
        background-color: rgba(147, 147, 147, 0.623);
        transition: all 0.4s ease-out;
    }
}

/* Media: smaller screen */
@media screen and (min-width: 480px) and (max-width: 629px) {
    .aside{
        display: none;
    }

    #side-toggle {
        display: block;
    } 

    .aside.collapsed{
        display: block;
    }
}
